@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	color: #000;
	background-color: #222;
	font-family: 'Roboto', sans-serif;
}

header{
	height: 75px;
	padding: 20px;
	font-style: italic;
	background: linear-gradient(to left, #7600a9, #7600a9 25%, #8b15be 50%, #9400d3 75%);
	border-bottom: 1px solid #000;
}

footer{
	height: 15px;
	width: 100%;
	bottom: 0px;
	position: fixed;
	padding: 0 0 7px 20px;
	font-style: italic;
	background: linear-gradient(to left, #7600a9, #7600a9 25%, #8b15be 50%, #9400d3 75%);
    border-top: 1px solid #000;
}

label{
	font-size: 1.1em;
	max-width: 40%;
}

input{
    width: 150px;
    max-width: 40%;
    margin-left: 5px;
    padding-right: 1%;
}

input[type="color"]{
    width: 50px;
}

:root {
  	--color: #000;
  	--heigth: 100px;
  	--raduius: 0%;
  	--width: 100px;
}

#propriedades{
	margin: auto;
	color: #ddd;
	height: 60px;
	padding: 20px;
	background-color: #111;
	border-bottom: 1px solid #000;
}

#principal{
	color: #ddd;
	padding: 20px;
	background-color: #222;
	height: 300px;
}

.container{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.propCaixa{
	width: 50%;
	margin: auto;
	float: left;
	margin-bottom: 20px;
}

#caixaContainer{
	margin: auto;
  	height: 500px;
  	width: 500px;
  	margin-bottom: 40px;
}

.caixa{
	margin: auto;
	background: var(--color);
  	border-radius: var(--radius);
  	width: var(--width);
  	height: calc(500px / (100 / var(--height)));
  	transition: background-color 2s,width 2s, height 2s, border-radius 2s;
}